.home__gallery{
    display: flex;
    justify-content: center;
    background-color: grey;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 25px;
    background-color: #F7F7F7;
    margin-bottom: 3rem;
    padding-top: 4rem;


}

/* //! Responsive */

@media screen and (max-width: 1000px) {
    .home__gallery{
        display: block;
        margin-top: 0rem;
        padding-top: 1.5rem;
        background-color: #fff;
    }
}

@media screen and (max-width: 375px) {
    .home__gallery{
        margin-top: 0rem;
        padding-top: 1.5rem;
        background-color: #fff;
    }
}