.homeBanner {
	height: 16rem;
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
}

.homeBanner__img {
	
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.homeBannerMob__img {
	display: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.homeBanner__overlay {
	position: absolute;
	background: black;
	height: 100%;
	width: 100%;
	top: 0px;
	opacity: 0.3;
}

.homeBanner__title {
	position: absolute;
	justify-items: center;
	align-self: center;
	font-size: 3.5rem;
	font-weight: 300;
	padding: 20%;
	color: white;
}

/* //! Responsive */

@media screen and (max-width: 900px) {
	.homeBanner {
		height: 10rem;
	}
	.homeBanner__title {
		font-size: 1.5rem;
	}
	.homeBanner__img {
		display: none;
	}
	.homeBannerMob__img {
		display: block;
		object-fit: cover;
		
	}
}

@media screen and (max-width: 375px) {
	.homeBanner {
		height: 8rem;
	}
	.homeBanner__title {
		font-size: 1.2rem;
	}
}
